* {
  box-sizing: border-box;
}

.secuse {
  direction: rtl;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  height: 650px;
}

.secuse * {
  margin: 0;
}

.useitem {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.usefivethreetwo {
  display: flex;
  flex-direction: row;
}

.usethreetwo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.usepictures {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.usesixofall {
  display: flex;
  flex-direction: column;
}

.usefirstfive {
  display: flex;
  flex-direction: column;
}

.usesecondfive {
  display: flex;
  flex-direction: column;
}

.usethreeofall {
  display: flex;
  flex-direction: column;
}

.usefirsttwo {
  display: flex;
  flex-direction: column;
}

.usesecondtwo {
  display: flex;
  flex-direction: column;
}

.useparentroute {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #000000, -20px -20px 60px #000000;
  transition: all ease 0.3s;
}

.useparentroute:hover{
  transform: translate(10px, 10px);
}

.useroutes {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-right: 15px;
}

.usepic {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  transition: all ease 0.3s;
  background: linear-gradient(315deg, #ff6e24, #da5d1f);
  box-shadow:  -11px -11px 42px #ce581d,
             11px 11px 42px #ff7627;
}

.usepic:hover {
  border-radius: 0px;
  transform: translate(-10px, 10px);
}

.usetexts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 25px;
  margin-top: 25px;
  text-align: justify;
  width: 600px;
}

.useitem1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  align-items: center;
}

.useitem1 h3 {
  margin-right: 25px;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.useitem1 p {
  margin-top: 25px;
  margin-right: 25px;
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.usebutton {
  width: 125px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: rgb(131, 131, 131);
  font-weight: 700;
  position: relative;
  transition: all 0.5s;
  z-index: 1;
  letter-spacing: 1.5px;
}

.usebutton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #F26722;
  z-index: -1;
  transition: all 0.5s;
  border-radius: 10px;
}

.usebutton:hover::before {
  width: 100%;
}

.usebutton:hover {
  color: rgb(0, 0, 0);
}

.usebutton:active:before {
  background: #9acbff;
}
