.top {
  direction: rtl;
  background-color: #ffffff;
  position: static;
  height: 50px;
  display: flex;
  gap: 250px;
}

.shareparent {
  display: flex;
  align-items: center;
}

.share {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  font-weight: 500;
  font-size: 15px;
  background: #f17436;
  padding: 0px 25px 0px 25px;
  border-radius: 5px;
  transition: ease all 0.3s;
  filter: drop-shadow(6px 6px 8px #f17436);
}

.share:hover {
  border-radius: 0px;
  padding: 23px 25px 23px 25px;
}

.share a {
  color: rgb(0, 0, 0);
  transition: ease all 0.3s;
}

.share a:hover {
  color: #0000009d;
}

.links {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.logsign {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.loginone button {
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 14px;
  transition: ease all 0.3s;
}

.loginone button:hover {
  color: #000000b6;
}

.signupone button {
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 15px;
  background: #f17436;
  padding: 7px 28px 7px 28px;
  border-radius: 5px;
  filter: drop-shadow(6px 6px 8px #f17436);
  transition: 0.3s border-radius, 0.3s padding;
}

.signupone button:hover {
  color: #000000a1;
  border-radius: 0px;
  padding: 12px 28px 12px 28px;
}

.sharebutton {
  background: none;
  border: none;
  cursor: pointer;
}