* {
  box-sizing: border-box;
}

.footer {
  direction: rtl;
  background-color: #ffffff;
  position: static;
  height: 300px;
  display: flex;
}

.footerlogo {
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 15px;
  gap: 15px;
  transition: all ease 0.3s;
}

.footerlogo:hover {
  color: #F26722;
}

.footerlogoimg {
  height: 100px;
  width: 100px;
}

.footertext {
  color: rgb(0, 0, 0);
  display: flex;
  gap: 150px;
  margin-top: 60px;
}

.text2 {
  display: flex;
  flex-direction: column;
  transition: all ease 0.3s;
}

.text2:hover {
  color: #fd5907;
}

.text3 {
  display: flex;
  flex-direction: column;
  transition: all ease 0.3s;
}

.text3:hover {
  color: #fd5907;
}

.text4 {
  display: flex;
  flex-direction: column;
  transition: all ease 0.2s;
}

.text4:hover {
  color: #fd5907;
}

.about {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.about a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: all ease 0.3s;
}

.about a:hover {
  text-decoration: none;
  color: #0000007a;
}

.tools {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.tools a {
  text-decoration: none;
  color: #000000;
  transition: all ease 0.3s;
}

.tools a:hover {
  text-decoration: none;
  color: #0000007a;
}

.help {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.help a {
  text-decoration: none;
  color: #000000;
  transition: all ease 0.3s;
}

.help a:hover {
  text-decoration: none;
  color: #0000007a;
}
