* {
  box-sizing: border-box;
}

.secfive {
  direction: rtl;
  overflow: hidden;
  background-color: #fff;
  height: 650px;
}

.secfive * {
  margin: 0;
}

.item5 {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.fivethreetwo {
  display: flex;
  flex-direction: row;
}

.threetwo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pictures5 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sixofall {
  display: flex;
  flex-direction: column;
}

.firstfive {
  display: flex;
  flex-direction: column;
}

.secondfive {
  display: flex;
  flex-direction: column;
}

.threeofall {
  display: flex;
  flex-direction: column;
}

.firsttwo {
  display: flex;
  flex-direction: column;
}

.secondtwo {
  display: flex;
  flex-direction: column;
}

.parentroute {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background: #ff6e24;
  box-shadow: 20px 20px 60px #000000, -20px -20px 60px #000000;
  transition: all ease 0.3s;
}

.parentroute:hover{
  transform: translate(10px, 10px);
}

.routes {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-right: 15px;
}

.pic5 {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background: #000000;
  box-shadow: 20px 20px 60px #000000, -20px -20px 60px #000000;
  transition: all ease 0.3s;
}

.texts5 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 25px;
  margin-top: 25px;
  text-align: justify;
  width: 600px;
}

.item51 {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  align-items: center;
}

.item51 h3 {
  margin-right: 25px;
  font-size: 20px;
}

.item51 p {
  margin-top: 25px;
  margin-right: 25px;
  font-size: 16px;
}

.button5 {
  width: 125px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: rgb(131, 131, 131);
  font-weight: 700;
  position: relative;
  transition: all 0.5s;
  z-index: 1;
  letter-spacing: 1.5px;
}

.button5::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #f26722;
  z-index: -1;
  transition: all 0.5s;
  border-radius: 10px;
}

.button5:hover::before {
  width: 100%;
}

.button5:hover {
  color: rgb(255, 255, 255);
}

.button5:active:before {
  background: #000000;
}
