* {
  box-sizing: border-box;
}

.secnews {
  direction: rtl;
  overflow: hidden;
  background-color: #F26722;
  height: 900px;
}

.secnews * {
  margin: 0;
}

.newsitem {
  display: flex;
  justify-content: space-around;
}

.newstexts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 25px;
  margin-top: 25px;
  text-align: justify;
  width: 600px;
}

.newsitem1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  align-items: center;
}

.newsitem1 h3 {
  margin-right: 25px;
  margin-bottom: 50px;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.newsitem1 p {
  margin-top: 25px;
  margin-right: 25px;
  font-size: 16px;
}

.newsbutton {
  width: 125px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: rgb(0, 0, 0);
  font-weight: 700;
  position: relative;
  transition: all 0.5s;
  z-index: 1;
  letter-spacing: 1.5px;
}

.newsbutton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #F26722;
  z-index: -1;
  transition: all 0.5s;
  border-radius: 10px;
}

.newsbutton:hover::before {
  width: 100%;
}

.newsbutton:hover {
  color: rgb(255, 255, 255);
}

.newsbutton:active:before {
  background: #000000;
}

.subnews {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.news1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: all 0.5s;
}

.news1:hover {
  transform: translate(-10px, -10px);
}

.news1:active {
  transform: translate(-5px, -5px);
}

.news1 p {
  width: 550px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.news2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: all 0.5s;
}

.news2:hover {
  transform: translate(-10px, -10px);
}

.news2:active {
  transform: translate(-5px, -5px);
}

.news2 p {
  width: 550px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.news3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: all 0.5s;
}

.news3:hover {
  transform: translate(-10px, -10px);
}

.news3:active {
  transform: translate(-5px, -5px);
}

.news3 p {
  width: 550px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.news4 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: all 0.5s;
}

.news4:hover {
  transform: translate(-10px, -10px);
}

.news4:active {
  transform: translate(-5px, -5px);
}

.news4 p {
  width: 550px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.journalstexts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 25px;
  margin-top: 25px;
  text-align: justify;
  width: 600px;
}

.journalsitem1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  align-items: center;
}

.journalsitem1 h3 {
  margin-right: 25px;
  margin-bottom: 50px;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.journalsitem1 p {
  margin-top: 25px;
  margin-right: 25px;
  font-size: 16px;
}

.journalbutton {
  width: 125px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: rgb(0, 0, 0);
  font-weight: 700;
  position: relative;
  transition: all 0.5s;
  z-index: 1;
  letter-spacing: 1.5px;
}

.journalbutton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #F26722;
  z-index: -1;
  transition: all 0.5s;
  border-radius: 10px;
}

.journalbutton:hover::before {
  width: 100%;
}

.journalbutton:hover {
  color: rgb(0, 0, 0);
}

.journalbutton:active:before {
  background: #ffffff;
}

.subjournals {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.journal1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: all 0.5s;
}

.journal1:hover {
  transform: translate(-10px, -10px);
}

.journal1:active {
  transform: translate(-5px, -5px);
}

.journal1 p {
  width: 550px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.journal2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: all 0.5s;
}

.journal2:hover {
  transform: translate(-10px, -10px);
}

.journal2:active {
  transform: translate(-5px, -5px);
}

.journal2 p {
  width: 550px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.journal3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: all 0.5s;
}

.journal3:hover {
  transform: translate(-10px, -10px);
}

.journal3:active {
  transform: translate(-5px, -5px);
}

.journal3 p {
  width: 550px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.journal4 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: all 0.5s;
}

.journal4:hover {
  transform: translate(-10px, -10px);
}

.journal4:active {
  transform: translate(-5px, -5px);
}

.journal4 p {
  width: 550px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.subnews div {
  padding: 25px 0px 25px 25px;
  border-radius: 5px;
  background: linear-gradient(315deg, #ffffff3d, #e6e6e6a1);
  box-shadow:  5px -5px 15px #d9d9d9,
             5px 5px 15px #ffffff;
}

.subjournals div {
  color: #fff;
  padding: 25px 0px 25px 25px;
  border-radius: 5px;
  background: linear-gradient(315deg, #000000, #000000);
  box-shadow:  -5px -5px 15px #000000,
             5px 5px 15px #000000;
}

.subjournals button {
  color: #fff;
}